<a href="https://colab.research.google.com/github/Suraj945gh/Antariksh/blob/main/Suraj_DJS_Antariksh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Lecture 1 - Python ( Till dictionaries )***

In [1]:
# Arithmetic Operators in Python
a = 5
b = 10
print(a*b)
print(a/b)
print(a//b) # This is called as floor division and it gives only int values
print(a+b)
print(a-b)
a = 8
b = 2
print(a**b) # This is exponentiation operator , i.e. here 8^2

50
0.5
0
15
-5
64

In [2]:
# Using Complex Nos. in Python
import cmath # Importing this module for complex calculations
import numpy
a = 5
b = 3
z = complex(a,b) # function which makes 2 nos. complex
print(z)
# Explicitly making complex nos.
z1 = 5 + 9j
z2 = 10 - 4j
# Accessing their real and imaginary parts
print(z1.real)
print(z2.real)
print(z1.imag)
print(z2.imag)
# Adding both the complex nos.
print(z1 + z2)
print(z1*z2)
# Getting the absolute values
print(abs(z1))
print(abs(z2))
print(cmath.polar(z1)) # returns (r,theta )
print(numpy.conj(z1))  # Getiing the conjugate of z1

(5+3j)
5.0
10.0
9.0
-4.0
(15+5j)
(86+70j)
10.295630140987
10.770329614269007
(10.295630140987, 1.0636978224025597)
(5-9j)

In [3]:
# In python , you don't need to declare datatype
n1 = 4
n2 = 2.34
age = 18
myStr = 'Suraj'
print(type(n1))
print(type(n2))
print(type(myStr))
# Typecasting
print(int(n2))
print(float(n1))
print("My name is "+ myStr + " and age = "+ str(age))

<class 'int'>
<class 'float'>
<class 'str'>
2
4.0
My name is Suraj and age = 18

In [10]:
# Strings in Python
comName = "Antariksh"
print(f"My name is {myStr} and age is {age}") # Using f strings
newStr = "Hello , I am coding for Antariksh and it is cool"
print('Ant' in newStr)
print('Cool' not in newStr)
print(newStr[:12])
print(newStr[-10:-1])  # Using negative indexing

# Formatting the string using format() method
print('Hola , I am {} and I am in {} committee'.format(myStr,comName))
qty = 20
model = "DELL 'Inspiron'"
cost = 104.345
sentence = " We recently purchased {} laptops of category {} at {} dollars"
print(sentence.format(qty,model,cost))

fact = 'The universe is {:,} years old' # {:,} is used as a thousand separator
print(fact.format(13800000000))

# Fix point number format
print("The correct value of pi upto 3 decimal places is {:.3f}".format(3.14159265359))
print("The binary of 10 is {:b} and hexadecimal is {:X}".format(10,10))

My name is Suraj and age is 18
True
True
Hello , I am
it is coo
Hola , I am Suraj and I am in Antariksh committee
 We recently purchased 20 laptops of category DELL 'Inspiron' at 104.345 dollars
The universe is 13,800,000,000 years old
The correct value of pi upto 3 decimal places is 3.142
The binary of 10 is 1010 and hexadecimal is A

In [12]:
# Methods in Strings
print(newStr.lower())
print(newStr.upper())
print(newStr.title())
print(newStr.swapcase()) # Swaps the upper and lower cases
print(newStr.split(' ')) # returns a list of words while identifying the separator
print(newStr.replace('Antariksh','ISRO')) # Replaces the specific char/words
print(newStr)
print(newStr.count('a'))
print(newStr.find('cod'))
myTuple = ('Lara','is','just','19')
x = "_".join(myTuple)  # Syntax - string.join(iterable)
print(x)

print("\nHey\rBro")  # Carriage Return escape sequence
# It returns the recent word
print("This is a \tTAB")
print("We are from the \"Aryabhatta\" community")

hello , i am coding for antariksh and it is cool
HELLO , I AM CODING FOR ANTARIKSH AND IT IS COOL
Hello , I Am Coding For Antariksh And It Is Cool
hELLO , i AM CODING FOR aNTARIKSH AND IT IS COOL
['Hello', ',', 'I', 'am', 'coding', 'for', 'Antariksh', 'and', 'it', 'is', 'cool']
Hello , I am coding for ISRO and it is cool
Hello , I am coding for Antariksh and it is cool
3
13
Lara_is_just_19

Bro
This is a 	TAB
We are from the "Aryabhatta" community

In [13]:
# Lists in Python
# Lists are ordered , changeable and indexed
myList = ["Pragyaan",45,"Prayaan",560.34,True,False,"Abhigyaan"]
# This is a list with int, float , string, boolean datatype
print(len(myList))
fruits = list(('mango','banana','apple','pineapple','jackfruit','dragonfruit'))
# A list can also be made by using the list constructor
print(fruits)
print(type(fruits))
print(fruits[2:5])
print(myList[-5:]) # negative- indexing
print(45 in myList)
# Changing a range of values and then printing the list
fruits[1:3]= ['grapes','kiwi']
print(fruits)
fruits.insert(3,'orange') # inserting new element at specified index
print(fruits)

7
['mango', 'banana', 'apple', 'pineapple', 'jackfruit', 'dragonfruit']
<class 'list'>
['apple', 'pineapple', 'jackfruit']
['Prayaan', 560.34, True, False, 'Abhigyaan']
True
['mango', 'grapes', 'kiwi', 'pineapple', 'jackfruit', 'dragonfruit']
['mango', 'grapes', 'kiwi', 'orange', 'pineapple', 'jackfruit', 'dragonfruit']

In [14]:
# Methods of Lists
list1 = [1,2,3,4]
list2 = [56,7,8,33]
list1.append("Integers") # It appends elements at the end of the list
print(list1)
list1.extend(list2)  # extend method adds any two lists/iterable also
print(list1)
tuple1 = ('h','o','w',True)
list2.extend(tuple1) # added iterable(here tuple1) to the list2
print(list2)

list1.remove(56) # It removes the given element from the list
print(list1)
list1.pop(-4) # It removes element at the specified index
print(list1)
myList.pop() # If nothing is mentioned , it removes the last element
print(myList)
del list2 # It deletes the entire list
# print(list2) This causes error becoz we've deleted the entire list
del list1[2]
print(list1)
list1.clear()
# clear() method empties the list but the list is still there with no content
print(list1)
fruits.sort()  # sorts the list alphanumerically ( but it is case - sensitive )
print(fruits)
intList = [45,34,67,8,99,253,12,345]
# To sort the list in descending use the keyword argument reverse = True
intList.sort(reverse = True)
print(intList)

[1, 2, 3, 4, 'Integers']
[1, 2, 3, 4, 'Integers', 56, 7, 8, 33]
[56, 7, 8, 33, 'h', 'o', 'w', True]
[1, 2, 3, 4, 'Integers', 7, 8, 33]
[1, 2, 3, 4, 7, 8, 33]
['Pragyaan', 45, 'Prayaan', 560.34, True, False]
[1, 2, 4, 7, 8, 33]
[]
['dragonfruit', 'grapes', 'jackfruit', 'kiwi', 'mango', 'orange', 'pineapple']
[345, 253, 99, 67, 45, 34, 12, 8]

In [18]:
# Looping in Lists
print(fruits)
print("Printing individual fruits using for loop: ")
for eachfruit in fruits :
  print(eachfruit)
print('\nPrinting using range : ')
for i in range(int(len(fruits)/2)) :
  print(fruits[i])

# List comprehension
# Syntax list = [ expression for item in iterable if condition == True ]
newList1 = [x for x in fruits if 'p' in x]
print(newList1)
newList2 = [x.upper() for x in fruits ] # We can modify exp , also we haven't given condition here
print(newList2)
newList3 = [x if 'RA' in x else '##' for x in newList2 ]
# You can also mention condition in expression itself
print(newList3)

# Nested Lists
List1 = [1,2,3]
List2 = [2,45,67]
List3 = ['hi',99,'yes']
Biglist = [List1,List2,List3]
Biglist

['dragonfruit', 'grapes', 'jackfruit', 'kiwi', 'mango', 'orange', 'pineapple']
Printing individual fruits using for loop:
dragonfruit
grapes
jackfruit
kiwi
mango
orange
pineapple

Printing using range :
dragonfruit
grapes
jackfruit
['grapes', 'pineapple']
['DRAGONFRUIT', 'GRAPES', 'JACKFRUIT', 'KIWI', 'MANGO', 'ORANGE', 'PINEAPPLE']
['DRAGONFRUIT', 'GRAPES', '##', '##', '##', 'ORANGE', '##']

[[1, 2, 3], [2, 45, 67], ['hi', 99, 'yes']]

In [20]:
# Tuples in Python
# Tuples are ordered , unchangeable(immutable) and indexed
myTuple = (34,"Amanda",12.23, "Shelly",False,True)
print(myTuple)
print(len(myTuple))
print(myTuple.count(3))
# If you wanna define a tuple with one element , add a comma at the end
# Otherwise python won't consider it as tuple
isTuple = ("Hello",)
notTuple = ("Hello")
print(type(isTuple))
print(type(notTuple))
noBraces = 1,2,3,4,4   # Parentheses are optional
print(noBraces)
print(myTuple[3:])

# In tuples , you cannot add / remove elements directly
# You can't change tuples but you can convert it to list and then change/add things
tempList = list(myTuple)
tempList[1] = 'Miranda'
tempList.append('Nolan')
myTuple = tuple(tempList)
print(myTuple)

# Unpacking tuples
tuple1 = ('apple' , 'banana' , 'strawberry' , 'cherry' )
(green , yellow , *red ) = tuple1 # Asterisk * gives list since no. of variables and elements is different
print(green)
print(yellow)
print(red)

(34, 'Amanda', 12.23, 'Shelly', False, True)
6
0
<class 'tuple'>
<class 'str'>
(1, 2, 3, 4, 4)
('Shelly', False, True)
(34, 'Miranda', 12.23, 'Shelly', False, True, 'Nolan')
apple
banana
['strawberry', 'cherry']

In [21]:
# Sets in Python
# Sets are unordered , unchangeable and not indexed and doesn't allow duplicate contents
# But you can add / remove elements in sets
mySet = {12,'str',True,1,2,'India'}
print(mySet) # True and 1 are considered duplicates
print(len(mySet))
# Sets are only accessed by looping
for item in mySet :
  print(item)

{True, 2, 'str', 12, 'India'}
5
True
2
str
12
India

In [22]:
# Methods in Sets
mySet.add('Kalaam')
print(mySet)
# To add two lists we used extend() method , but here we use update method
set1 = {2,3,'abc',34,'ddd'}
set2 = {False,6.78,'nope','ddd',34}
set1.update(set2)
print(set1)
# We can also add any iterable using update() method

# We have remove and discard method to remove contents
# Where remove() raises error if there's no such content ,
# while discard() doesn't
set1.remove(2)
set1.discard(False)
set1.discard('hi')   # doesn't give error
print(set1)
# The clear() method empties the set and del() completely erases it
# The pop() method can be used but it'll delete any random element

set_1 = {'ck',12,'oh','ah',345}
set_2 = {'no','oh',12,'haha','lol'}
set_3 = set_1.intersection(set_2)  # will return the common items
print(set_3)

{True, 2, 'str', 12, 'Kalaam', 'India'}
{False, 2, 3, 34, 'nope', 6.78, 'ddd', 'abc'}
{3, 34, 'nope', 6.78, 'ddd', 'abc'}
{'oh', 12}

In [23]:
# Dictionaries in Python
# A dictionary is a collection which is ordered , changeable and do not allow duplicates.
# Dictionary items are presented in key:value pairs

mobile = { 'brand':'OnePlus' , 'RAM' : 6 , 'colors' : ['blue', 'black', 'white'] , 'cost' : 32000 }
print(mobile)
print(len(mobile))
print(mobile['colors'])  # Accessing the values of a key

# It can also be constructed using the dictionary const.
details = dict(name = "Rancho", age = 24 , hasJob = False , dob = 1995 )
print(details)

{'brand': 'OnePlus', 'RAM': 6, 'colors': ['blue', 'black', 'white'], 'cost': 32000}
4
['blue', 'black', 'white']
{'name': 'Rancho', 'age': 24, 'hasJob': False, 'dob': 1995}

In [25]:
# Methods in dictionary
print(mobile['RAM'])
print(mobile.get('cost')) # get() method also gives value
print(mobile.keys())   # keys() method gives all keys
print(mobile.values())  # values() method gives all values

# Adding new element
mobile['launchdate'] =2023
print(mobile)
# You can also use the update method to add element

# Changing a value
mobile['brand'] = 'Oppo'
print(mobile.values())
print(mobile.items())
# You can also use the update method to change element

# pop method removes an item and popitem() removes last one
mobile.pop('brand')
print(mobile)
mobile.popitem()
print(mobile)

# You can copy a dictionary by using copy() method

6
32000
dict_keys(['RAM', 'colors', 'cost'])
dict_values([6, ['blue', 'black', 'white'], 32000])
{'RAM': 6, 'colors': ['blue', 'black', 'white'], 'cost': 32000, 'launchdate': 2023}
dict_values([6, ['blue', 'black', 'white'], 32000, 2023, 'Oppo'])
dict_items([('RAM', 6), ('colors', ['blue', 'black', 'white']), ('cost', 32000), ('launchdate', 2023), ('brand', 'Oppo')])
{'RAM': 6, 'colors': ['blue', 'black', 'white'], 'cost': 32000, 'launchdate': 2023}
{'RAM': 6, 'colors': ['blue', 'black', 'white'], 'cost': 32000}

In [26]:
# Looping in dictionaries
for x in mobile:  # by default returns the keys
  print(x)
# Returning the values
for x in mobile:
  print(mobile[x])
# Returning the items
for x in mobile.items() :
  print(x)

# Nested dictionary
child1 = {"name":"Arjun", 'age' : 21}
child2 = {"name":"Bheem", 'age' : 27}
child3 = {"name":"Nakul", 'age' : 18}
pandavas = {'child1' : child1 , 'child2' : child2 , 'child3' : child3}
print(pandavas)
print(pandavas['child3']['age'])  # Accessing an element
#pandavas

for key,value in pandavas.items() :
  print(key)
  print(value)

RAM
colors
cost
6
['blue', 'black', 'white']
32000
('RAM', 6)
('colors', ['blue', 'black', 'white'])
('cost', 32000)
{'child1': {'name': 'Arjun', 'age': 21}, 'child2': {'name': 'Bheem', 'age': 27}, 'child3': {'name': 'Nakul', 'age': 18}}
18
child1
{'name': 'Arjun', 'age': 21}
child2
{'name': 'Bheem', 'age': 27}
child3
{'name': 'Nakul', 'age': 18}

# ***Lecture 2 - Python ( Till functions )***

In [ ]:
# If- else in Python

# Using nested if- else here
a = 50
b = 45
c = 7
if a > b :
  if a > c :
    print("a is greater !")
  else :
    print("c is greater")
else :
  if b > c :
    print("b is greater")
  else :
    print("c is greater")

# Short hand if - used to print only one statement
age = 13
if age < 18 : print("You're Young")

# Short hand if-else statement (Here elif doesn't work)
# Also called as Ternary Operator
bill = 200
print("We'll pay ") if bill < 200 else print("We'll see to it") if bill==200 else print("We'll never pay")

num1 = 45
num2 = 99
if num1 > num2 and num1 > 50 :
  print("num1 is greater than num2 and also more than 50")
else:
  print("I don't wanna write anything now ")

In [ ]:
# While loops :-
i = 0
while i < 10 :
  if i == 7 :
    break
  print(i)
  i+=1
print('\n')
org = ['I','S','R','O']
i = 0
while i < len(org) :
  print(org[i])
  i += 1
else :
  print("Loop has executed and now else statement too")
# With else ,we can run a block of code once when the condition no longer is true:

In [ ]:
# For loops :-
# It is used to iterate any iterable ( lists,tuples,sets,dictionaries , strings )
# Iterating for a string :
name = "Suraj"
for char in name :
  print(char)
print('\n')

for i in range(3) : # For using range function with one parameter
  print(i)
print('\n')
for i in range(4,9) : # Using two parameters
  print(i)
print('\n')
# Using three parameters where the 3rd one is step size (by default is 1 )
for i in range(5,35,4) :
  print(i)

print('\n')
string = "Python"
for i in string :
  if i == 'h' :
    continue         # Used continue statement
  print(i)

print('\n')
# Nested for - loops
adj = ['fat','gorgeous', 'ugly']
stars = ['Karina','Kartik','Kriti']
for i in adj :
  for j in stars :
    print(i,j)

In [43]:
# Functions in Python
# Basic Calculator
def calci (a,b,choice) :  # Here a,b,choice are called as parameters
  if choice == 1 :
    return a + b
  elif choice == 2 :
    return a - b
  elif choice == 3 :
    return a*b
  elif choice == 4 :
    return a/b
  elif choice == 5 :
    return a%b
  else :
    print('Invalid choice')
# Calling the function
calci (5,6,2)
# Here 5,6,2 are called are arguments

# Using the varargs (*args)
# Varargs are useful when you want to create functions that can handle different numbers of inputs
# without explicitly specifying the exact number of arguments
# Here the function receives a tuple of arguments
def sum_all (*args) :
  total = 0
  for i in args :
    total = total + i
  return total

print(sum_all(1,2,3,4))
sum_all(23,45,47,22,44,6,7,8,9)

# Using normal keyword arguments or kwargs
def myfunc ( sys1 , sys2 , sys3 ) :
  print(f"There are many OS like {sys3} , {sys1} , {sys2}")

myfunc(sys1='Windows' , sys2 = 'Linux' , sys3 = 'Mac')
# Here we used as key = value syntax to send arguments

# Using arbitrary keyword arguments or (**kwargs)
# Here the function receives a dictionary of arguments
def details (name , age , **kwargs) :  # Combining with regular arguments
  print(f"NAME : {name}")
  print(f"AGE : {age}")
  for key , value in kwargs.items() :
    print(f"{key.upper()} : {value}")
details("Anna",23,city = "Mussoorie",occupation = "Engineer")

# Defining default values and then updating/changing it as per the user
def student_info (**details) :
  info = { 'name' : 'unknown' , 'roll_no' : 000 , 'div' : '|-|'}
  info.update(details)
  return info

student1 = student_info(name = 'Vikram', roll_no = 120 , div = 'IT')
student2 = student_info(name = 'Sakshi', roll_no = 145 , div = "Comps")
print(student1)
print(student2)

# Showcasing default parameter value
def func1 (country = 'India') :
  print(f'{country} is a great place for tourism !!')
func1()
func1('Sweden')
func1('Dubai')

# Passing tuple as an argument
def func2 (mytuple) :
  print("Got your tuple as an argument to me :")
  for item in mytuple:
    print(item)
mytuple = ('Jason',23,'NewYork',25.67)
func2(mytuple)

# Recursion Example
def recursion(num) :
  if num > 0 :
    result = num + recursion(num-1)
    print(result)
  else :
    result = 0
  return result
recursion(6)

10
There are many OS like Mac , Windows , Linux
NAME : Anna
AGE : 23
CITY : Mussoorie
OCCUPATION : Engineer
{'name': 'Vikram', 'roll_no': 120, 'div': 'IT'}
{'name': 'Sakshi', 'roll_no': 145, 'div': 'Comps'}
India is a great place for tourism !!
Sweden is a great place for tourism !!
Dubai is a great place for tourism !!
Got your tuple as an argument to me :
Jason
23
NewYork
25.67
1
3
6
10
15
21

21

In [46]:
# Lambda Functions
# Use lambda functions when an anonymous function is required for a short period of time.
# Syntax -  lambda arguments : expression

func1 = lambda a,b : a*b
print(func1(5,5))

func2 = lambda a,b,c : a/b + c
print(func2(10,5,11))

# Making functions that doubles and triples whatever no. we send to it
def newfunc (k) :
  return lambda a : a * k
doubler = newfunc(2)
tripler = newfunc(3)
print(doubler(15))
print(tripler(6))

25
13.0
30
18